<h1>About this Site</h1>

<p>This site is built by bondan (bondan_sentanu@yahoo.com) for Sale Stock FE Test</p>
<p>Bali, 12 May 2016</p>

<p>Claim 'Deploy to hosting (Azure, AWS, Digital Ocean, etc)' points: <a href="http://bondan.senta.nu/portfolio/salestocktest" target="_blank">http://bondan.senta.nu/portfolio/salestocktest</a>