<h1>Films</h1>
<div class="container-tall">
	<table width="100%" tagged-infinite-scroll="getMore()">
		<tr>
			<th>Title</th>
			<th>Director</th>
			<th>Producer</th>		
		</tr>
		
		<tr ng-repeat="film in films">
			<td>{{ film.title }}</td>
			<td>{{ film.director }}</td>
			<td>{{ film.producer }}</td>		
		</tr>
	</table>
	<div class="spinner" ng-show="loading">loading..</div>
</div>