<h1>Welcome</h1>
<p class="text-center"><img src="assets/images/250px-Star_Wars_Logo.svg.png" alt="star wars"></p>
<p class="text-center">Hello welcome to the star wars database application</p>
<p class="text-center">Please select the menu you wish to see</p>

<h2 class="text-center">{{ tagline }}</h2 class="text-center">