<h1>People List</h1>

<div class="container-tall">
	<table width="100%" tagged-infinite-scroll="getMore()">
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>Mass</th>
			<th>hair color</th>
			<th>Number of Films</th>		
		</tr>
		
		<tr ng-repeat="person in people">
			<td><a ng-href="#/people/{{ person.peopleId }}">{{ person.name }}</a></td>
			<td>{{ person.height }}</td>
			<td>{{ person.mass }}</td>
			<td>{{ person.hair_color }}</td>
			<td>{{ person.films.length }}</td>
		</tr>
	</table>
	<div class="spinner" ng-show="loading">loading..</div>
</div>