<a href="javascript:history.back();">Back</a>
<h1>People Detail: {{ person.name }}</h1>

<div class="row">
  <div class="col-md-3">
  	<img src="assets/images/avatar.png" alt="">
  </div>
  <div class="col-md-9">
  		<ul class="person-detail">
  			<li>Name: {{ person.name }}</li> 
	  		<li>Height: {{ person.height }}</li> 
	  		<li>Mass: {{ person.mass }}</li> 
	  		<li>Hair color: {{ person.hair_color}}</li> 
	  		<li>Skin color: {{ person.skin_color }}</li> 
	  		<li>Eye color: 	{{ person.eye_color }}</li> 
	  		<li>Birth year: {{ person.birth_year }}</li> 
	  		<li>Gender: {{ person.gender }}</li>
  		</ul>
  </div>
</div>