<h1>The Planets</h1>

<div class="container-tall">
	<table width="100%" tagged-infinite-scroll="getMore()">
		<tr>
			<th>Planet Name</th>
			<th>Rotation Period</th>
			<th>Orbital Period</th>
			<th>Gravity Number</th>
			<th>Resident Number</th>
		</tr>
		
		<tr ng-repeat="planet in planets">
			<td>{{ planet.name }}</td>
			<td>{{ planet.rotation_period }}</td>
			<td>{{ planet.orbital_period }}</td>
			<td>{{ planet.gravity }}</td>
			<td>{{ planet.residents.length }}</td>
		</tr>
	</table>
	<div class="spinner" ng-show="loading">loading..</div>
</div>