h1 {
	border-bottom: 1px solid #666666;
	display: block;
	font-size: 30px;
	margin-bottom: 20px;
}

table th,
table td {
	border: 1px solid #666666;
	padding: 5px;
}

.person-detail {
    font-size: 17px;
    line-height: 28px;
}

/* container tall is made just to make the table of data scrollable and trigger+simulate infinitescroll,
since the data returned is only 7 datas each page */
.container-tall {
	min-height: 700px;
}

.spinner-big {
	background: transparent url(../images/spinner.gif) 0 0 no-repeat;
	display: block;
	margin: 20px auto 0;
	height: 60px;
	width: 60px;
	overflow: hidden;
	text-indent: -99999px;
}

.spinner {
	background: transparent url(../images/hourglass.gif) 0 0 no-repeat;
	display: block;
	margin: 20px auto 0;
	height: 40px;
	width: 40px;
	overflow: hidden;
	text-indent: -99999px;
}

table tr:nth-child(2n) {
	background: #fafafa;
}

@media all and (max-width: 767px) {
	#navbar {
		float: none!important;
	}
}